/* Przycisk do rozwijania menu */
#menu-toggle {
    display: none;
    background: #003366;
    color: white;
    border: none;
    font-size: 1.5em;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
}

/* Widoczność menu na urządzeniach mobilnych */
nav ul {
    display: flex;
}

nav ul.active {
    display: block;
    background-color: #003366; /* Dopasowane tło menu */
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
}

/* Styl dla nawigacji w wersji mobilnej */
@media (max-width: 768px) {
    #menu-toggle {
        display: block;
    }

    nav ul {
        display: none;
        flex-direction: column;
    }
}
